[submodule "colour_checker_detection/resources/colour-checker-detection-tests-datasets"]
	path = colour_checker_detection/resources/colour-checker-detection-tests-datasets
	url = https://github.com/colour-science/colour-checker-detection-tests-datasets.git
[submodule "colour_checker_detection/resources/colour-checker-detection-examples-datasets"]
	path = colour_checker_detection/resources/colour-checker-detection-examples-datasets
	url = https://github.com/colour-science/colour-checker-detection-examples-datasets.git
